* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Lato', sans-serif;
  color: white !important ;
  margin: 3rem;
  height: 100%;
  font-size: 10px;
}

.logodiv {
  margin-bottom: -10vh;
  margin-top: -10vh;
  display: flex;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  max-height: 22vh;
}

h1 {
  display: none !important;
}

#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #262261; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #3498db,
    #262261
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #3498db,
    #262261
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  left: 0px;
  top: 0px;
}

#resultParagraph {
  font-weight: 200;
  font-size: 1.6rem;
  color: white !important;
}

input {
  margin-bottom: 1.6rem;
  color: red;
}

#cryptoinfo {
  font-size: 1.6rem;
  font-weight: 200;
  color: white;
}

.credits {
  font-weight: 200;
  font-size: 1.6rem;
  color: #30e9ff;
  margin-bottom: 0rem;
  margin-top: 0rem;
}

.credits:hover {
  color: white;
  text-decoration: none;
}

.credits2 {
  font-weight: 200;
  font-size: 1.6rem;
  color: #30e9ff;
  margin-bottom: 0rem;
}

.credits2:hover {
  color: white;
  text-decoration: none;
}

.buttons-container {
  display: flex;
  justify-content: center;
  font-size: 1.6rem;
}

.btn-info {
  background-color: transparent;
  color: white;
}

.btn-info:hover {
  background-color: rgba(28, 161, 184, 0.685);
  color: white;
}

.form-container {
  font-size: 1.6rem;
}

.form-control {
  color: white;
  background-color: #0fbed92a !important;
  border: 1px #0fbdd96e solid;
  font-size: 1.6rem;
}

.form-control:focus {
  color: white;
}


